.vs/
.idea/
TimeCats.web/obj/
TimeCats.web/bin/
Natasha_TimeSystem/StudentTimeSheet/StudentTimeSheet/obj/Debug/StudentTimeSheet.csproj.CoreCompileInputs.cache
*.ide
*.cache
*.dll
*.pdb
time_sucks/Properties/PublishProfiles/cstimesheet - Web Deploy.pubxml
time_sucks/Properties/PublishProfiles/cstimesheet - Web Deploy.pubxml.user
time_sucks/time_sucks.csproj.user
.vscode/
time_sucks/obj/Debug/
.env
ServerProjectTracker/ServerProjectTracker/bin/Debug/net5.0/ServerProjectTracker.deps.json
ServerProjectTracker/ServerProjectTracker/bin/Debug/net5.0/ServerProjectTracker.exe
ServerProjectTracker/ServerProjectTracker/bin/Debug/net5.0/ServerProjectTracker.runtimeconfig.dev.json
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/apphost.exe
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/_ViewImports.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/_ViewStart.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Components/ProjectComponent.razor.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Index.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Privacy.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Shared/_Layout-Index.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Shared/_Layout.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Signout.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/SignUp.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Tracker/AddSecurityUser.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Tracker/CreateProject.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Tracker/Details.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Tracker/EditProjectBasic.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Tracker/EditProjectSecurity.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Tracker/Index.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/RazorDeclaration/Pages/Components/ProjectComponent.razor.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/ServerProjectTracker.csproj.FileListAbsolute.txt
ServerProjectTracker/ServerProjectTracker/obj/project.assets.json
ServerProjectTracker/ServerProjectTracker/obj/ServerProjectTracker.csproj.nuget.dgspec.json
ServerProjectTracker/ServerProjectTracker/obj/ServerProjectTracker.csproj.nuget.g.props
ServerProjectTracker/ServerProjectTracker/ServerProjectTracker.csproj
ServerProjectTracker/ServerProjectTracker/ServerProjectTracker.csproj.user
ServerProjectTracker/ServerProjectTracker/appsettings.json
ServerProjectTracker/ServerProjectTracker/bin/Debug/net5.0/appsettings.json
ServerProjectTracker/ServerProjectTracker/bin/Debug/net5.0/ServerProjectTracker.deps.json
ServerProjectTracker/ServerProjectTracker/bin/Debug/net5.0/ServerProjectTracker.exe
ServerProjectTracker/ServerProjectTracker/bin/Debug/net5.0/ServerProjectTracker.runtimeconfig.dev.json
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/apphost.exe
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/_ViewImports.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/_ViewStart.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Components/ProjectComponent.razor.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Index.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Privacy.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Shared/_Layout-Index.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Shared/_Layout.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Signout.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/SignUp.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Tracker/AddSecurityUser.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Tracker/CreateProject.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Tracker/Details.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Tracker/EditProjectBasic.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/Tracker/Index.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/User/EditUser.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/Razor/Pages/User/UserSecurity.cshtml.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/RazorDeclaration/Pages/Components/ProjectComponent.razor.g.cs
ServerProjectTracker/ServerProjectTracker/obj/Debug/net5.0/ServerProjectTracker.csproj.FileListAbsolute.txt
ServerProjectTracker/ServerProjectTracker/obj/project.assets.json
ServerProjectTracker/ServerProjectTracker/obj/ServerProjectTracker.csproj.nuget.dgspec.json
ServerProjectTracker/ServerProjectTracker/obj/ServerProjectTracker.csproj.nuget.g.props
