@page "/Tracker/Create"
@model ServerProjectTracker.Pages.Tracker.CreateProjectModel
@{
    ViewData["Title"] = "Create Project";
}

<div>
    <h1>Create New Project</h1>
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="ProjectTitle" class="control-label">Title</label>
                <input asp-for="ProjectTitle" class="form-control" type="text" required />
                <span asp-validation-for="ProjectTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectDescription" class="control-label">Description</label>
                <textarea asp-for="ProjectDescription" class="form-control" required></textarea>
                <span asp-validation-for="ProjectDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectLangauge" class="control-label">Primary Programming Language</label>
                <input asp-for="ProjectLangauge" class="form-control" type="text" />
                <span asp-validation-for="ProjectLangauge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectDatabase" class="control-label">Database</label>
                <input asp-for="ProjectDatabase" class="form-control" type="text" placeholder="SQLite" />
                <span asp-validation-for="ProjectDatabase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectBackend" class="control-label">Project Backend</label>
                <input asp-for="ProjectBackend" class="form-control" type="text" placeholder=".Net Core 5.0" />
                <span asp-validation-for="ProjectBackend" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectTechnologyMisc" class="control-label">Project Technology Miscellaneous</label>
                <input asp-for="ProjectTechnologyMisc" class="form-control" type="text" placeholder="Technology Stack like LAMP" />
                <span asp-validation-for="ProjectTechnologyMisc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectLink" class="control-label">CS Project Server Link</label>
                <input asp-for="ProjectLink" class="form-control" type="url" placeholder="http:csprojects.weber.edu/[Project Title]" />
                <small class="form-text text-muted">If you already know the link for the project on the server (If it already has a docker container setup), you can give the link to it here.</small>
                <span asp-validation-for="ProjectLink" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Create Project</button>
            <a class="btn btn-danger" asp-page="/Tracker/Index">Cancel</a>
        </form>
    </div>
</div>
